/* FONTS/ICONS start */

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/dosis-light.woff2') format('woff2'),
         url('../fonts/dosis-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
	font-display: swap;	
}

@font-face {
    font-family: 'Dosis';
    src: url('../fonts/dosis-regular.woff2') format('woff2'),
         url('../fonts/dosis-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Opensans';
    src: url('../fonts/opensans-light.woff2') format('woff2'),
         url('../fonts/opensans-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Opensans';
    src: url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
	font-display: swap;
}

/* FONTS end */


/* RESET-STYLES start */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 15px;
}

body {
	position: relative;
	font-family: 'Open-sans', Helvetica, Arial, sans-serif;
	color: #777;
	line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover, 
a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

/* RESET-STYLES end */


/* Grid layout start */

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.container-fluid {
	padding: 0 15px;
}

.row {
	margin: 0 -15px;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: nowrap;
}

.col {
	position: relative;
	padding: 0 15px;
}

.col-1 {
	width: calc((100% / 12) * 1);
}

.col-2 {
	width: calc((100% / 12) * 2);
}

.col-3 {
	width: calc((100% / 12) * 3);
}

.col-4 {
	width: calc((100% / 12) * 4);
}

.col-5 {
	width: calc((100% / 12) * 5);
}

.col-6 {
	width: calc((100% / 12) * 6);
}

.col-7 {
	width: calc((100% / 12) * 7);
}

.col-8 {
	width: calc((100% / 12) * 8);
}

.col-9 {
	width: calc((100% / 12) * 9);
}

.col-10 {
	width: calc((100% / 12) * 10);
}

.col-11 {
	width: calc((100% / 12) * 11);
}

.col-12 {
	width: calc((100% / 12) * 12);
}

@media (max-width: 1200px) {

	.col-lg-1 {
		width: calc((100% / 12) * 1);
	}
	
	.col-lg-2 {
		width: calc((100% / 12) * 2);
	}
	
	.col-lg-3 {
		width: calc((100% / 12) * 3);
	}
	
	.col-lg-4 {
		width: calc((100% / 12) * 4);
	}
	
	.col-lg-5 {
		width: calc((100% / 12) * 5);
	}
	
	.col-lg-6 {
		width: calc((100% / 12) * 6);
	}
	
	.col-lg-7 {
		width: calc((100% / 12) * 7);
	}
	
	.col-lg-8 {
		width: calc((100% / 12) * 8);
	}
	
	.col-lg-9 {
		width: calc((100% / 12) * 9);
	}
	
	.col-lg-10 {
		width: calc((100% / 12) * 10);
	}
	
	.col-lg-11 {
		width: calc((100% / 12) * 11);
	}
	
	.col-lg-12 {
		width: calc((100% / 12) * 12);
	}

	.d-lg-none {
		display: none;
	}
}

@media (max-width: 991px) {

	.col-md-1 {
		width: calc((100% / 12) * 1);
	}
	
	.col-md-2 {
		width: calc((100% / 12) * 2);
	}
	
	.col-md-3 {
		width: calc((100% / 12) * 3);
	}
	
	.col-md-4 {
		width: calc((100% / 12) * 4);
	}
	
	.col-md-5 {
		width: calc((100% / 12) * 5);
	}
	
	.col-md-6 {
		width: calc((100% / 12) * 6);
	}
	
	.col-md-7 {
		width: calc((100% / 12) * 7);
	}
	
	.col-md-8 {
		width: calc((100% / 12) * 8);
	}
	
	.col-md-9 {
		width: calc((100% / 12) * 9);
	}
	
	.col-md-10 {
		width: calc((100% / 12) * 10);
	}
	
	.col-md-11 {
		width: calc((100% / 12) * 11);
	}
	
	.col-md-12 {
		width: calc((100% / 12) * 12);
	}

	.d-md-none {
		display: none;
	}
}

@media (max-width: 767px) {

	.col-sm-1 {
		width: calc((100% / 12) * 1);
	}
	
	.col-sm-2 {
		width: calc((100% / 12) * 2);
	}
	
	.col-sm-3 {
		width: calc((100% / 12) * 3);
	}
	
	.col-sm-4 {
		width: calc((100% / 12) * 4);
	}
	
	.col-sm-5 {
		width: calc((100% / 12) * 5);
	}
	
	.col-sm-6 {
		width: calc((100% / 12) * 6);
	}
	
	.col-sm-7 {
		width: calc((100% / 12) * 7);
	}
	
	.col-sm-8 {
		width: calc((100% / 12) * 8);
	}
	
	.col-sm-9 {
		width: calc((100% / 12) * 9);
	}
	
	.col-sm-10 {
		width: calc((100% / 12) * 10);
	}
	
	.col-sm-11 {
		width: calc((100% / 12) * 11);
	}
	
	.col-sm-12 {
		width: calc((100% / 12) * 12);
	}
	
	.d-sm-none {
		display: none;
	}
}

@media (max-width: 576px) {

	.col-xs-1 {
		width: calc((100% / 12) * 1);
	}
	
	.col-xs-2 {
		width: calc((100% / 12) * 2);
	}
	
	.col-xs-3 {
		width: calc((100% / 12) * 3);
	}
	
	.col-xs-4 {
		width: calc((100% / 12) * 4);
	}
	
	.col-xs-5 {
		width: calc((100% / 12) * 5);
	}
	
	.col-xs-6 {
		width: calc((100% / 12) * 6);
	}
	
	.col-xs-7 {
		width: calc((100% / 12) * 7);
	}
	
	.col-xs-8 {
		width: calc((100% / 12) * 8);
	}
	
	.col-xs-9 {
		width: calc((100% / 12) * 9);
	}
	
	.col-xs-10 {
		width: calc((100% / 12) * 10);
	}
	
	.col-xs-11 {
		width: calc((100% / 12) * 11);
	}
	
	.col-xs-12 {
		width: calc((100% / 12) * 12);
	}
	
	.d-xs-none {
		display: none;
	}
}
/* Grid layout end */



/* Default classes and components - start */
/* 1. classes start */

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.bg-black {
	background-color: #111;
}

.bg-lightgray {
	background-color: #f8f8f8;
}



/* classes end */

/* 2. component start */

.section-default {
padding: 135px 0;
}

.title {
text-transform: uppercase;
font-weight: normal;
font-size: 1.2rem;
font-family: 'Dosis', Helvetica, Arial, sans-serif;
color: #111;
margin-bottom: 70px;
}

.title-light {
	
}

.btn {
text-transform: uppercase;
line-height: 1;
border-radius: 2px;
display: inline-block;
letter-spacing: 0.2em;
}

.btn-dark {
background-color: #323232;
font-size: 0.68rem;
padding: 10px 20px;
color: #fff;
}

.btn-grey {
	background-color: #e5e5e5e5;
	font-size: 0.73rem;
	color: #777;
	padding: 7px 15px;
}

.btn-lightgrey {
	background-color: #cfcfcf;
	font-size: 0.93rem;
	color: #111;
	padding: 10px 40px;
}


.blockquote p {
	margin-bottom: 25px;
	font-size: 1.6rem;
	line-height: 1.58em;
	font-weight: 300;
}

.blockquote .author {
	font-size: 0.73rem;
	line-height: 3.45em;
	text-transform: uppercase;
	letter-spacing: 02.em;
}

/* component end */
/* Default classes and components - end */
.block-flip {
height: 450px;
position: relative;

}

.block-flip img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/* Media Queries - start */

/* Media Queries - end */




/* 3. component start */
.height {
	height: 100%;
}
/* component end */
/* Default classes and components - end */

/* header-nav start*/
header {
	position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 2%;
    padding-top: 26px;
}

.header-nav {
	display: flex;
    width: 100%;
}

.logo {
	cursor: pointer;
}

.header-menu {
    color: #cfcfcf;
    margin-left: auto;
    display: flex;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    align-items: center;
    letter-spacing: 4px;
}

.header-menu a {
	align-items: center;
	margin-left: 40px;
	z-index: 1;
}

a:hover {
	color: white;
}

/* header-nav end*/

/*-------- POSTER start ---------*/
.poster {
	background: url('../img/poster.jpg') no-repeat center center;
	width: 100%;
	height: 100vh;
	position: static;
	background-size: cover;
}

.main-title {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
	font-size: 30px;
	letter-spacing: 52px;
	font-family: 'Dosis', Arial, Helvetica, sans-serif;
	color: #dcdcdc;
	text-transform: uppercase;
	padding-bottom: 100px;
  }

.main-title-headline {
    font-size: 19px;
	color:#cfcfcf;
	font-family: "OpenSans", Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

.walk-btn {
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: 20px;
	left: 50%;
	margin-left: -20px;
}
	  
/*-------- POSTER end ---------*/



  